<!-- Default home page -->
<!--
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">VIDII</a>
    </div>
  </div>
</nav>
-->


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container bgimage">
      <h4></h4>
  </div>


<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>


  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-3">
      <h4 style="color:rgb(35, 191, 197)">    Be the first to know.</h4>
    </div>
    <div class="col-md-4">
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <!--
            <form id="createuser-form" action="/user/create" method="POST" class="form-horizontal" role="form" autocomplete="off" >
      -->
      <form id="createuser-form" action="/user/create" method="POST" role="form" autocomplete="off" class="navbar-form">
        <div class="form-group">
          <input type="text" placeholder="Enter Email" name="email" class="form-control">
        </div>
        <button type="submit" class="btn btn-teal">Step Inside</button>
        <% if (referralcode) { %>
        <input type="hidden" name="invitedByUserWithToken" value="<%= referralcode %>" />
        <% } %>

      </form>

    </div>

    <div class="col-md-4">
    </div>
  </div>


  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-3">
      <img src="http://vidii.co/images/key.png">
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <hr>

</div>

  <footer>
<!--    <p>&copy; 2015 Vidicons, LLC.</p>
-->
  </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</div><!-- /.container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
