<!-- Default home page -->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="homeScreen" class="jumbotron">
  <div class="container bgimage">
     <div id="bannerText" class="mobileHide">
	  <div class="tealBubble" style="padding-top: 17px;">
	  	<span id="headerText" class="center">IT IS ALMOST HERE</span>
	  </div>
	  <br />
	  <div class="tealBubble">
	  	<span id="subText" class="center">DO MORE THAN EVER <br /> NOW</span>
		</div>
  	</div>
</div><!-- #bannerText -->

<div class="mobileBlock" style="text-align: center !important;">
<div class="tealBubble" style="padding-top: 17px;">
	  	<span id="headerText" class="center">IT IS ALMOST HERE</span>
	  </div>
	  <br />
	  <div class="tealBubble">
	  	<span id="subText" class="center">DO MORE THAN EVER <br /> NOW </span>
		</div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>


  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-3">
      <h4 style="color:rgb(35, 191, 197)" class="homeText"><br /><br />BE THE FIRST TO KNOW</h4>
    </div>
    <div class="col-md-4">
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <!--
            <form id="createuser-form" action="/user/create" method="POST" class="form-horizontal" role="form" autocomplete="off" >
      -->
      <form id="createuser-form" action="/user/create" method="POST" role="form" autocomplete="off" class="navbar-form">
        <div class="form-group">
          <input type="text" placeholder="Enter Email" name="email" class="form-control" id="inpEmail">
        </div>
        <button type="submit" class="btn btn-teal" id="submitBtn">Step Inside</button>
      </form>

    </div>

    <div class="col-md-4">
    </div>
  </div>


  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-3" style="text-align: center;">
      <img src="images/key.png" class="mobileCenter">
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <hr>



  <% if (typeof message != 'undefined' && message.length > 0) { %>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><%= message %></div>
    <div class="col-md-3"></div>
  </div>
  <% } %>


</div>

  <footer>
<!--    <p>&copy; 2016, YOUR NAME HERE</p>
-->
  </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</div><!-- /.container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
