<!--  "privacy policy" page -->

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>


  <div class="row">
    <div class="col-md-1">
      </div>
    <div class="col-md-10">
      <h2>Privacy Policy</h2>

      <em>Last Updated: February 14, 2016</em><br>
      <br>
      Welcome, and thank you for your interest in YOUR NAME HERE (“<strong>YOUR NAME HERE</strong>,” “<strong>we</strong>,” or “<strong>us</strong>”), our computer programs and mobile applications (the “<strong>Software</strong>”), our website at <a href="http://yourwebsite.co/" target="_blank">www.yourwebsite.co</a>, and our service (collectively, our “<strong>Service</strong>”).<br><br>

      This Privacy Policy (the “<strong>Policy</strong>”) describes the information that we gather from you on the Service, how we use and disclose such information, and the steps we take to protect such information. By using the Service, you consent to the privacy practices described in this Policy. <br><br>

YOUR PRIVACY POLICY GOES HERE


      <strong>Our Contact Information</strong><br><br>

      Please contact us with any questions or comments about this Policy, your Personal Information, our use and disclosure practices, or your consent choices by email at <a href="mailto:support@yourcompany.com">support@yourcompany.com</a>. <br><br>

    </div>
    <div class="col-md-1">
    </div>
  </div>

  <hr>

</div>

  <footer>
    <!--    <p>&copy; 2016 YOUR NAME HERE</p>
    -->
  </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</div><!-- /.container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
