<!-- Vidii document "privacy policy" page -->

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>


  <div class="row">
    <div class="col-md-1">
      </div>
    <div class="col-md-10">
      <h2>Vidii Privacy Policy</h2>

      <em>Last Updated: December 15, 2015</em><br>
      <br>
      Welcome, and thank you for your interest in Vidicons LLC (“<strong>Vidii</strong>,” “<strong>we</strong>,” or “<strong>us</strong>”), our computer programs and mobile applications (the “<strong>Software</strong>”), our website at <a href="http://vidii.co/" target="_blank">www.vidii.co</a>, and our video sharing service (collectively, our “<strong>Service</strong>”).<br><br>

      This Privacy Policy (the “<strong>Policy</strong>”) describes the information that we gather from you on the Service, how we use and disclose such information, and the steps we take to protect such information. By using the Service, you consent to the privacy practices described in this Policy. <br><br>

      This Policy is incorporated into and is subject to the Vidii Terms of Service. Capitalized terms used but not defined in this Policy have the meaning given to them in the Vidii Terms of Service. <br><br>

      <strong>Information We Collect on the Service: </strong><br><ul>
        <li>

          <strong>User-provided Personal Information.</strong> When you use the Service, you may provide and we may collect information that specifically identifies you (your “<strong>Personal Information</strong>”). Personal Information may include your name, username, email address, telephone number, photograph, or geographic location. You may provide us with Personal Information in various ways and at various times, such as when you register an account, use the Service, or request customer service. If you access the Service using a Third Party Login, we may obtain Personal Information that is associated with your account on the third party service.<br>
          <br>
        </li>
        <li>

          <strong>User Content</strong>. The Service allows you to upload and share videos with, as well as send messages to, other users of the Service. When you use the Service, any such User Content that you upload or transmit to others will be stored on our servers. Certain User Content, including uploaded videos containing your face, likeness, voice, and actions, may be visible to anyone who obtains a link to that content (“<strong>Shared Content</strong>”). For more information about how you can control access to your Shared Content, see “<strong>Your Choices</strong>” below.  When you upload USer Content, in addition to any Personal Information that may be included in the body of such content, we will have access to a variety of meta-data associated with that content, which may include creation date, time, and application, and other similar attributes.<br>
          <br>
        </li>
        <li>

          <strong>Address Book Data.</strong> When you register for the Service, install the Software on a Device, or use a Third Party Login, you may consent to share your address book or contacts list with us. If we receive access to such information, we will store on our servers your contacts’ names, telephone numbers, email addresses, and other identifying information.<br>
          <br>
        </li>
        <li>

          <strong>Cookies and Automatically Collected Information.</strong> When you use the Service, we may send one or more small text files containing a string of alphanumeric characters (“<strong>cookies</strong>”) to your device. Some cookies disappear when you close your browser, but others may persist on your device after you close your browser and may be used when you subsequently access the Service, in order to perform functions such as identifying you or remembering your preferences. <br><br>

          We may also automatically record certain information from your device by using various types of technology, including web beacons (also known as “clear gifs").  This automatically collected information may include your IP address or other device address or ID, web browser or device type, the web pages or sites that you visit just before or just after you use the Service, the content you view or otherwise interact with on the Service, and the dates and times that you visit, access, or use the Service. We also may use these technologies to collect information regarding your interaction with email messages, such as whether you opened, clicked on, or forwarded a message. This information is gathered from all users, and may be connected with your Personal Information.<br>
          <br>
        </li>
        <li>

          <strong>Location Information.</strong> We may obtain information about your physical location, such as by use of GPS and other geolocation features in your device, or by inference from other information we collect (for example, your IP address indicates the general geographic region from which you are connecting to the internet).<br>
          <br>
        </li>
        <li>

          <strong>Third Party Web Beacons and Third Party Buttons.</strong> We may display third-party content on the Service, including third-party advertising and social media interaction widgets.  Third-party content may use cookies, web beacons, or other mechanisms for obtaining data in connection with your viewing of the third party content on the Service. Similarly, third party buttons (such as Facebook “like” or “share” buttons) that may function as web beacons even when you do not interact with the button. Information collected through third-party web beacons and buttons is collected directly by these third parties, not by Vidii. Information collected by a third party in this manner is subject to that third party’s own data collection, use, and disclosure policies. <br>
          <br>
        </li>
        <li>

          <strong>Information from Other Sources.</strong> We may obtain information, including Personal Information, from third parties and sources other than the Service, such as our partners and advertisers. If we combine or associate information from other sources with Personal Information that we collect through the Service, we will treat the combined information as Personal Information in accordance with this Policy. </li></ul><strong>How We Use the Information We Collect.</strong> We use information we collect on the Service in a variety of ways in providing the Service and operating our business, including the following:
      <ul>
        <li>

          We use the information that we collect about you to populate your user profile on the Service and to enable you to share information about you with other users.<br>
          <br>
        </li><li>

          We use information that we collect on the Service, including information that you share with us from your address book or contacts list, to (a) connect you with other users of the Service and keep your list of “Chat Buddies” up-to-date as new users join, (b) enable you to invite people you know to join the Service, and (c) show you information about other users with whom you communicate.<br>
          <br>
        </li><li>

          We use the information that we collect on the Service to develop, operate, maintain, enhance and provide all features of the Service, to provide services and information that you request, and to respond to comments and questions and otherwise to provide support to all users. <br>
          <br>
        </li><li>

          We use the information that we collect on the Service to understand and analyze the usage trends and preferences of our users, to improve the Service, and to develop new products, services, features, and functionality, as well as to troubleshoot and test the service, detect errors, and combat fraud, infringement, and other illegal activities.<br>
          <br>
        </li><li>

          We may use your email address or other information we collect to contact you for administrative purposes such as to verify your identity, to provide customer service, or to send communications, including notices, invitations to complete surveys, and updates on promotions or events, relating to products and services offered by us and by third parties we work with. Generally, you have the ability to opt out of receiving promotional communications as described below under “<strong>Your Choices.</strong>” <br>
          <br>
        </li><li>

          We may use cookies and automatically collected information to:  (i) personalize our Service, such as remembering your information so that you will not have to re-enter it during your visit or the next time you visit the Service; (ii) provide customized advertisements, content, and information; (iii) monitor and analyze the effectiveness of the Service and third-party marketing activities; (iv) monitor aggregate Service usage metrics; and (v) track your other activities on the Service.</li></ul>


      <strong>When We Disclose Information</strong>. We may disclose information to third parties for a variety of purposes in providing the Service and operating our business, including in the following circumstances:<br><ul>
        <li>

          Any information, including Shared Content, that you choose to upload to the Service may be visible to anyone who has access to that information, including other users or anyone with a link. The information associated with your user profile, whether supplied by you or automatically populated by us based on information we collect, is publicly visible by default. <br>
          <br>
        </li><li>

          We work with third party service providers to provide website, application development, hosting, database administration, customer service, maintenance, and other services for us. These third parties may have access to or process your information as part of providing those services for us. Generally, we limit the information we provide to these service providers to what is reasonably necessary for them to perform their functions, and we require them to agree to maintain the confidentiality of such information.<br>
          <br>
        </li><li>

          We may disclose your information if required to do so by law or if we determine that such action is necessary to comply with the law, in response to a court order, judicial or other government subpoena or warrant, or to otherwise cooperate with law enforcement or other governmental agencies. <br>
          <br>
        </li><li>

          We also reserve the right to disclose your information when we determine that doing so is appropriate or necessary to (i) take precautions against liability, (ii) protect ourselves, you, or others from fraudulent, abusive, or unlawful activity, (iii) investigate and defend ourselves against any third-party claims or allegations, (iv) protect the security or integrity of the Service and any facilities or equipment used to make the Service available, or (v) protect our property or other legal rights (including, but not limited to, enforcement of our agreements), or the rights, property, or safety of others.<br>
          <br>
        </li><li>

          Information about our users, including Personal Information, may be disclosed and otherwise transferred to an acquirer, successor, or assignee of Vidii as part of any merger, acquisition, debt financing, sale of assets, or similar transaction, or in the event of an insolvency, bankruptcy, or receivership in which information is transferred to one or more third parties as one of our business assets.<br>
          <br>
        </li><li>

          We may make certain aggregated, automatically-collected, or otherwise non-Personal Information available to third parties for various purposes, including (i) compliance with various reporting obligations; (ii) for business or marketing purposes; or (iii) to assist such parties in understanding our users’ interests, habits, and usage patterns for certain programs, content, services, advertisements, promotions, and/or functionality available through the Service.</li></ul>

      <strong>Your Choices </strong><br><br>

      You may, of course, decline to share certain Personal Information with us, in which case we may not be able to provide to you some or all of the features and functionality of the Service. You may update, correct, or delete your user profile, account information, and preferences at any time by accessing your account settings on the Service. If you wish to access or amend any other Personal Information we hold about you, you may do so in the application or contact us at <a href="mailto:support@vidii.co">support@vidii.co</a>. Please note that while any changes you make will be reflected in active user databases within a reasonable period of time, we may retain all information we have collected for backups, archiving, prevention of fraud and abuse, analytics, satisfaction of legal obligations, or where we otherwise reasonably believe that we have a legitimate reason to do so.<br><br>

      We may give you tools that allow you to make it easier for some users to view your Shared Content, including the ability to designate your Shared Content for display in the “What’s On” feeds of your “Chat Buddies” or any other user of the Service. Regardless of the visibility settings you select, however, any user who obtains a direct link to your Shared Content, either from you or from a third party, will be able to view your Shared Content. Furthermore, privacy settings are not a guarantee that your content or information will not be accessed by third parties, and you should use your independent judgment and common sense when making choices about what information to upload to the Service.  <br><br>

      If you receive commercial email from us, you may unsubscribe at any time by following the instructions contained within the email. You may also ask to be removed from our commercial email list by sending your request to us by email at support@vidii.co or by writing to us at the address given at the end of this Policy. We may allow you to view and modify settings relating to the nature and frequency of promotional communications that you receive from us your account settings on the Service. <br><br>

      Please be aware that if you opt out of receiving commercial email from us or otherwise modify the nature or frequency of promotional communications you receive from us, it may take up to ten business days for us to process your request, and you may continue receiving promotional communications from us during that period. Additionally, even after you opt out from receiving commercial messages from us, you will continue to receive administrative messages from us regarding the Service.<br><br>

      Your device operating system or browser may include settings, options, or add-on components to control the placement and presence of cookies and access to location information.  Please note that if you choose to delete (or not to accept) cookies from the Service, or to deny the Service access to your location information, you may not be able to utilize the features of the Service to their fullest potential.<br><br>

      <strong>Third Party Services</strong><br><br>

      The Service may contain features or links to websites and services provided by third parties, including in the form of URLs linking Shared Content to its original source (“transactional URLs”). Any information you provide to such Third Party Services is provided directly to the operators of such services and is subject to those operators’ policies, if any, governing privacy and security, even if accessed through the Service. We are not responsible for the content or privacy and security practices and policies of any such Third Party Services. We encourage you to learn about third parties’ privacy and security policies before sharing information with them.<br><br>

      <strong>Children’s Privacy</strong><br><br>

      Our website is a general audience website not directed to children under the age of 13, and we do not knowingly collect Personal Information from children under the age of 13 without parental consent. If you are under 13 years of age, then please do not use or access the Service at any time or in any manner. If we learn that Personal Information has been collected on the Service from a child under 13 years of age without parental consent, then we will take appropriate steps to delete this information. If you are a parent or guardian and discover that your child under 13 years of age has obtained an account on the Service, then you may alert us at <a href="mailto:support@vidii.co">support@vidii.co</a> and request that we delete that child’s Personal Information from our systems.<br><br>

      <strong>Data Security</strong><br><br>

      We use certain physical, managerial, and technical safeguards that to improve the integrity and security of Personal Information that we collect and maintain. However, we are not a data security company, and cannot ensure or warrant the security of any information you transmit to us or store on the Service, and you do so at your own risk. Please be aware that no security measures, including privacy settings are perfect or impenetrable or immune from being compromised either by human error or determined intrusion.  We cannot and do not guarantee that your information will not be accessed, viewed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.  If we learn of a security systems breach, then we may attempt to notify you electronically so that you can take appropriate protective steps.  However, we are not responsible for circumvention of any privacy settings or security measures on the Service. Additionally, we cannot control the actions of other users with whom you may choose to share your information. Further, even after information uploaded to the Service is removed, caching and archiving services may have saved that information, and other users or third parties may have copied or stored that information.<br><br>

      <strong>International Visitors</strong><br><br>

      The Service is hosted in the United States and is designed for visitors located within the United States. If you choose to use the Service from within the European Economic Area or other regions of the world with laws governing data collection and use that may differ from U.S. law, then please be aware that you are transferring your Personal Information outside of those regions to the United States for storage and processing. Also, we may transfer your data from the U.S. to other countries or regions in connection with storage and processing of data, fulfilling your requests, and operating the Service. By providing any information, including Personal Information, on or to the Service, you consent to such transfer, storage, and processing. <br><br>

      <strong>Changes and Updates to this Policy</strong><br><br>

      Please revisit this page periodically to stay aware of any changes to this Policy, which we may update from time to time, as provided in the Terms of Service. As described in the Terms of Service, if we modify this Policy, we will make the revised Policy available through the Service, and indicate the date of the latest revision. In the event that the modifications materially alter your rights or obligations hereunder, we will make reasonable efforts to notify you of the change. For example, we may send a message to your email address, post the new version of the Policy to our website, or generate a pop-up or similar notification when you access the Service for the first time after such material changes are made.<br><br>

      <strong>Your California Privacy Right</strong>s<br><br>

      Residents of California have the right to request a disclosure describing what types of personal information we have shared with third parties for their direct marketing purposes, and with whom we have shared it, during the preceding calendar year.  You may request a copy of that disclosure by contacting us at <a href="mailto:support@vidii.co">support@vidii.co</a>. <br><br>

      <strong>Our Contact Information</strong><br><br>

      Please contact us with any questions or comments about this Policy, your Personal Information, our use and disclosure practices, or your consent choices by email at <a href="mailto:support@vidii.co">support@vidii.co</a>. <br><br>

      Vidicons LLC<Br>
      2941 N. Pleasantburg Dr., #111<br>
      Greenville, SC 29609<br><br>

    </div>
    <div class="col-md-1">
    </div>
  </div>

  <hr>

</div>

  <footer>
<!--    <p>&copy; 2015 Vidicons, LLC.</p>
-->
  </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</div><!-- /.container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
