<!-- "rules" page -->


<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>



  <div class="row">
    <div class="col-md-1">
    </div>

  <div class="col-md-10">

    <h1>Rules</h1>

 YOUR RULES GO HERE


    <hr>

  </div>
  <div class="col-md-1">
  </div>
</div>

  <footer>
    <!--    <p>&copy; 2016 YOUR NAME HERE</p>
    -->
  </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</div><!-- /.container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
