<!-- Vidii document "rules" page -->


<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>



  <div class="row">
    <div class="col-md-1">
    </div>

  <div class="col-md-10">

    <h1>Vidii Rules</h1>

    Vidii is made to be a fun place to discover, receive, and share content with others. Our goal is for the service to enjoyable for all. We respect the ownership of the content that users share and each user is responsible for the content he or she provides. With these principles in mind, we do not actively monitor user content and will not censor user content, except in limited circumstances as described below.<bR><br>

    For the Vidii service and the ability to communicate with others to operate, we set limitations on the type of content that may be published with Vidii. These limitations comply with legal requirements. Vidii may update or modify the Vidii Rules from time to time by posting the changes on this site.
    <ul>
      <li>

        <strong>Sensitive Media: </strong>Sensitive media, such as mild violence or nudity, may be subject to certain limitations, including but not limited to warnings to users and restrictions preventing that content from appearing.</li>
      <li>
        <strong>Explicit Graphic Content:</strong> You may not publish or post explicit violent or otherwise graphic content, such as explicit depictions of animal abuse, child abuse, or bodily harm.</li>
      <li>
        <strong>Sexually Explicit Content: </strong>You may not post content that is sexually explicit or pornographic. </li>
      <li>
        <strong>Threats: </strong>You may not publish or post content that is intended to incite others to commit violence, mocks victims of violence, or includes a direct and specific threat of violence toward others.</li>
      <li>
        <strong>Copyright: </strong>We will respond to valid and complete notices of alleged copyright infringement. Our copyright procedures are set forth in the Terms of Service.</li>
      <li>
        <strong>Trademark: </strong>Use of a company or business name, logo, or other trademark-protected material in a manner that misleads or confuses others with regard to its brand or business affiliation may be considered a violation.</li>
      <li>
        <strong>Unlawful Use: </strong>You may not use our service for any unlawful purposes or in furtherance of illegal activities. International users agree to comply with all local laws regarding online conduct and acceptable content.</li></ul>

    Vidii also strives to protect its users from spam and abuse. Abuse is not tolerated on Vidii and may result in permanent suspension.<ul>
      <li>
        <strong>Serial Accounts: </strong>You may not create serial accounts. Mass account creation may result in suspension of all related accounts.</li>
      <li>
        <strong>Profile URL Squatting:</strong> You may not engage in profile URL squatting. Accounts that are inactive for more than eight months may also have their profile URLs removed or reclaimed without further notice. </li>
      <li>
        <strong>Invitation spam:</strong> You may not use any invite feature or “Chat” feature to send repeat, mass invitations.</li>
      <li>
        <strong>Malware/Phishing:</strong> You may not publish or link to malicious content intended to damage or disrupt another user’s browser or computer, or to compromise a user’s privacy or login information.</li>
      <li>
        <strong>Spam: </strong>You may not use the Vine service for the purpose of spamming anyone. Some of the factors that we take into account when determining what conduct is considered to be spamming are:</li>
      <ul>
        <li>
          If you post Vidii videos with deliberately misleading tags or channels;</li>
        <li>
          If a disproportionate number of users flag your content;</li>
        <li>
          If a disproportionate number of your comments have been deleted;</li>
        <li>
          If a disproportionate number of users are blocking your profile;</li>
        <li>
          If a disproportionate number of users are reporting your profile for spam;</li>
        <li>
          If you post large numbers of duplicate comments;</li>
        <li>
          If you post large numbers of unsolicited comments in an attempt to advertise a service or link;</li></ul>
      <li>
        <strong>Profile Images:</strong> You may not use obscene or pornographic images in your profile photo.</li></ul>

    Accounts engaging in any of the activities specified above may be subject to permanent suspension.


    <hr>

  </div>
  <div class="col-md-1">
  </div>
</div>

  <footer>
<!--    <p>&copy; 2015 Vidicons, LLC.</p>
-->
  </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</div><!-- /.container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
