<!-- Default home page -->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="homeScreen" class="jumbotron">
  <div class="container bgimage">
</div><!-- #bannerText -->


<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>


    <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
   <h1>Terms and Conditions for use of the Vidii service.</h1>
    </div>
    <div class="col-md-1">
    </div>
  </div>


  <div class="row">
    <div class="col-md-1">
      </div>
    <div class="col-md-10">
      <iframe src="http://docs.google.com/gview?url=http://vidii.co/TermsAndConditions.pdf&embedded=true" style="width:918px; height:700px;" frameborder="0"></iframe>
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <hr>



</div>

  <footer>
<!--    <p>&copy; 2015 Vidicons, LLC.</p>
-->
  </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</div><!-- /.container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
