<!-- Default share page -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#">VIDII</a>
    </div>
  </div>
</nav>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        </div>
    </div>

    <div class="row">
      <div class="col-md-5">
          <h4 class="text-center" style="color:rgb(35, 55, 47)">BEYOND WATCHING. BEYOND <br> COMMUNICATING. <br> IT'S GOING TO BE FUN. BRING YOUR <br> FRIENDS ALONG.</h4>
          <h2 class="text-center" style="color:rgb(35, 191, 197)">INVITE FRIENDS & <br>EARN PRODUCT</h2>
          <p class="small text-center">Share your unique link via email, Facebook or Twitter and earn Vidii Gifts for each friend who signs up.</p>
          <p class="text-center"><%= token %> </p>
        </div>
      <div class="col-md-1">
      </div>

      <div class="col-md-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/v5-YPJEAkMc" frameborder="1" ></iframe>
<!--
        <video width="560" height="315" autoplay>
          <source src="https://youtu.be/v5-YPJEAkMc" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        -->
      </div>
      <div class="col-md-1">
      </div>

    </div>
  </div>


    <div class="container">
    <div class="row">
      <div class="col-md-5">
        </div>
      <div class="col-md-3">
        <h4 style="color:rgb(35, 191, 197)">HERE's HOW IT WORKS.</h4>
        </div>
      <div class="col-md-4">
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <hr>
      </div>
      <div class="col-md-2">
      </div>
    </div>


      <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <p>No friends have joined yet. Keep checking.</p>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    </div>

    <hr>



  <footer>
    <!--    <p>&copy; 2015 Vidicons, LLC.</p>
    -->
  </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</div><!-- /.container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
